In [27]:
import pandas as pd
import numpy as np

In [35]:
df = pd.read_csv("data/skylab_instagram_datathon_dataset.csv")
df.head()

,Unnamed: 0,period_end_date,compset_group,compset,business_entity_doing_business_as_name,legal_entity_name,domicile_country_name,ultimate_parent_legal_entity_name,primary_exchange_name,followers,pictures,videos,comments,likes
0,0,1799 days,Luxury & Premium & Mainstream,Soft Luxury,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,22066189.0,97.0,13.0,16239.0,6112205.0
1,1,2219 days,Luxury & Premium & Mainstream,Luxury & Premium & Mainstream,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,24289963.0,54.0,2.0,13358.0,3189144.0
2,2,497 days,Luxury & Premium & Mainstream,Soft Luxury,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,7137442.0,42.0,8.0,15894.0,2152955.0
3,3,1568 days,Luxury & Premium & Mainstream,Luxury & Premium & Mainstream,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,18901125.0,73.0,9.0,26762.0,5224916.0
4,4,3003 days,Luxury & Premium & Mainstream,US Softlines Analyst Interest List,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,30251374.0,54.0,10.0,25681.0,5760987.0

In [32]:
#removing "period" and "calculation_type"
df.drop(columns=["period", "calculation_type"], inplace=True)

In [33]:
#taking timedelta from first available end date instead of absolute date
df['period_end_date'] = pd.to_datetime(df['period_end_date'])
min_date = df['period_end_date'].min()
df['period_end_date'] = df['period_end_date'] - min_date
df.to_csv("data/skylab_instagram_datathon_dataset.csv", sep=":")

2015-01-03 00:00:00