In [2]:
import pandas as pd

# Data

## Get to know the data

In [6]:
df = pd.read_csv("data/skylab_instagram_datathon_dataset.csv", sep=";")

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704313 entries, 0 to 704312
Data columns (total 15 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   period                                  704313 non-null  object
 1   period_end_date                         704313 non-null  object
 2   compset_group                           704313 non-null  object
 3   compset                                 704313 non-null  object
 4   business_entity_doing_business_as_name  704313 non-null  object
 5   legal_entity_name                       676558 non-null  object
 6   domicile_country_name                   458589 non-null  object
 7   ultimate_parent_legal_entity_name       676558 non-null  object
 8   primary_exchange_name                   458589 non-null  object
 9   calculation_type                        704313 non-null  object
 10  followers                               579258 non-null  float64
 11  pictures                                695803 non-null  float64
 12  videos                                  684349 non-null  float64
 13  comments                                695343 non-null  float64
 14  likes                                   695977 non-null  float64
dtypes: float64(5), object(10)
memory usage: 80.6+ MB
None

In [8]:
print(df.describe)

<bound method NDFrame.describe of         period period_end_date                  compset_group  \
0       Weekly      2019-12-07  Luxury & Premium & Mainstream
1       Weekly      2021-01-30  Luxury & Premium & Mainstream
2       Weekly      2016-05-14  Luxury & Premium & Mainstream
3       Weekly      2019-04-20  Luxury & Premium & Mainstream
4       Weekly      2023-03-25  Luxury & Premium & Mainstream
...        ...             ...                            ...
704308  Weekly      2017-03-18                   Outdoor Gear
704309  Weekly      2018-10-27                   Outdoor Gear
704310  Weekly      2023-08-05                   Outdoor Gear
704311  Weekly      2019-11-02                   Outdoor Gear
704312  Weekly      2023-02-25                   Outdoor Gear

                                   compset  \
0                              Soft Luxury
1            Luxury & Premium & Mainstream
2                              Soft Luxury
3            Luxury & Premium & Mainstream
4       US Softlines Analyst Interest List
...                                    ...
704308                        Outdoor Gear
704309                        Outdoor Gear
704310                        Outdoor Gear
704311                        Outdoor Gear
704312                        Outdoor Gear

       business_entity_doing_business_as_name  legal_entity_name  \
0                                     Versace     Capri Holdings
1                                     Versace     Capri Holdings
2                                     Versace     Capri Holdings
3                                     Versace     Capri Holdings
4                                     Versace     Capri Holdings
...                                       ...                ...
704308                          Klean Kanteen  Klean Kanteen Inc
704309                          Klean Kanteen  Klean Kanteen Inc
704310                          Klean Kanteen  Klean Kanteen Inc
704311                          Klean Kanteen  Klean Kanteen Inc
704312                          Klean Kanteen  Klean Kanteen Inc

           domicile_country_name ultimate_parent_legal_entity_name  \
0       United States of America                    Capri Holdings
1       United States of America                    Capri Holdings
2       United States of America                    Capri Holdings
3       United States of America                    Capri Holdings
4       United States of America                    Capri Holdings
...                          ...                               ...
704308                       NaN                 Klean Kanteen Inc
704309                       NaN                 Klean Kanteen Inc
704310                       NaN                 Klean Kanteen Inc
704311                       NaN                 Klean Kanteen Inc
704312                       NaN                 Klean Kanteen Inc

          primary_exchange_name calculation_type   followers  pictures  \
0       New York Stock Exchange     Metric Value  22066189.0      97.0
1       New York Stock Exchange     Metric Value  24289963.0      54.0
2       New York Stock Exchange     Metric Value   7137442.0      42.0
3       New York Stock Exchange     Metric Value  18901125.0      73.0
4       New York Stock Exchange     Metric Value  30251374.0      54.0
...                         ...              ...         ...       ...
704308                      NaN     Metric Value         NaN      50.0
704309                      NaN     Metric Value    163873.0     125.0
704310                      NaN     Metric Value    319485.0     118.0
704311                      NaN     Metric Value    228699.0     129.0
704312                      NaN     Metric Value    310895.0     128.0

        videos  comments      likes
0         13.0   16239.0  6112205.0
1          2.0   13358.0  3189144.0
2          8.0   15894.0  2152955.0
3          9.0   26762.0  5224916.0
4         10.0   25681.0  5760987.0
...        ...       ...        ...
704308     8.0    1271.0    14818.0
704309     2.0    1764.0    34188.0
704310    35.0    1697.0     6328.0
704311     2.0    1972.0    29174.0
704312    33.0    2606.0    10960.0

[704313 rows x 15 columns]>

In [9]:
print(df.isna().sum())

period                                         0
period_end_date                                0
compset_group                                  0
compset                                        0
business_entity_doing_business_as_name         0
legal_entity_name                          27755
domicile_country_name                     245724
ultimate_parent_legal_entity_name          27755
primary_exchange_name                     245724
calculation_type                               0
followers                                 125055
pictures                                    8510
videos                                     19964
comments                                    8970
likes                                       8336
dtype: int64

In [12]:
# Print some Rows
df.iloc[0:10000:2000]

,period,period_end_date,compset_group,compset,business_entity_doing_business_as_name,legal_entity_name,domicile_country_name,ultimate_parent_legal_entity_name,primary_exchange_name,calculation_type,followers,pictures,videos,comments,likes
0,Weekly,2019-12-07,Luxury & Premium & Mainstream,Soft Luxury,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,22066189.0,97.0,13.0,16239.0,6112205.0
2000,Weekly,2020-10-17,Restaurants,Restaurants,Tim Horton's,Restaurant Brands International,Canada,Restaurant Brands International,Toronto Stock Exchange,Metric Value,561729.0,77.0,22.0,1946.0,28210.0
4000,Weekly,2019-08-17,Beverages,Beverages,Monster Energy,Monster Energy,United States of America,Monster Energy,NASDAQ Global Select,Metric Value,5873392.0,28.0,35.0,6184.0,1713128.0
6000,Weekly,2019-07-06,Apparel Retail,Apparel Retail,Lovisa,Lovisa,Australia,Lovisa,Asx - All Markets,Metric Value,227397.0,88.0,1.0,1100.0,50417.0
8000,Weekly,2019-06-22,Luxury & Premium & Mainstream,Luxury & Premium & Mainstream,Ferragamo,Salvatore Ferragamo,Italy,Ferragamo Finanziaria SpA,Borsa Italiana S.P.A.,Metric Value,4529628.0,65.0,25.0,4991.0,625862.0

In [14]:
# Print some consecutive rows
df.iloc[0:100:1]

,period,period_end_date,compset_group,compset,business_entity_doing_business_as_name,legal_entity_name,domicile_country_name,ultimate_parent_legal_entity_name,primary_exchange_name,calculation_type,followers,pictures,videos,comments,likes
0,Weekly,2019-12-07,Luxury & Premium & Mainstream,Soft Luxury,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,22066189.0,97.0,13.0,16239.0,6112205.0
1,Weekly,2021-01-30,Luxury & Premium & Mainstream,Luxury & Premium & Mainstream,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,24289963.0,54.0,2.0,13358.0,3189144.0
2,Weekly,2016-05-14,Luxury & Premium & Mainstream,Soft Luxury,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,7137442.0,42.0,8.0,15894.0,2152955.0
3,Weekly,2019-04-20,Luxury & Premium & Mainstream,Luxury & Premium & Mainstream,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,18901125.0,73.0,9.0,26762.0,5224916.0
4,Weekly,2023-03-25,Luxury & Premium & Mainstream,US Softlines Analyst Interest List,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,30251374.0,54.0,10.0,25681.0,5760987.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Weekly,2022-07-23,Luxury & Premium & Mainstream,Soft Luxury,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,28956217.0,40.0,3.0,4558.0,626674.0
96,Weekly,2016-12-24,Luxury & Premium & Mainstream,Luxury & Premium & Mainstream,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,9296228.0,38.0,11.0,10142.0,1970280.0
97,Weekly,2016-02-13,Luxury & Premium & Mainstream,Soft Luxury,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,6218552.0,73.0,6.0,15713.0,2694039.0
98,Weekly,2016-02-27,Luxury & Premium & Mainstream,Soft Luxury,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,6370772.0,70.0,4.0,14506.0,2488554.0
99,Weekly,2015-01-10,Luxury & Premium & Mainstream,US Softlines Analyst Interest List,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,3052258.0,28.0,1.0,7193.0,685187.0

## Start cleaning a bit

In [26]:
# Remove useless columns
df["calculation_type"].unique()
df["period"].unique()
df = df.drop(["calculation_type", "period"], axis=1)

KeyError: 'calculation_type'

# Sort in different orders

In [31]:
df_rel_comp = df.sort_values(["business_entity_doing_business_as_name", "compset_group", "compset", "period_end_date"], ascending=[True, True, True, False])

,period_end_date,compset_group,compset,business_entity_doing_business_as_name,legal_entity_name,domicile_country_name,ultimate_parent_legal_entity_name,primary_exchange_name,followers,pictures,videos,comments,likes
239331,2023-09-16,Apparel Retail,Apparel Retail,24S,LVMH Moet Hennessy Louis Vuitton SE,France,LVMH Moet Hennessy Louis Vuitton SE,Euronext Paris,237908.0,18.0,10.0,157.0,7225.0
239201,2023-09-09,Apparel Retail,Apparel Retail,24S,LVMH Moet Hennessy Louis Vuitton SE,France,LVMH Moet Hennessy Louis Vuitton SE,Euronext Paris,237650.0,19.0,9.0,169.0,7438.0
239516,2023-09-02,Apparel Retail,Apparel Retail,24S,LVMH Moet Hennessy Louis Vuitton SE,France,LVMH Moet Hennessy Louis Vuitton SE,Euronext Paris,237200.0,19.0,9.0,200.0,9999.0
239868,2023-08-26,Apparel Retail,Apparel Retail,24S,LVMH Moet Hennessy Louis Vuitton SE,France,LVMH Moet Hennessy Louis Vuitton SE,Euronext Paris,237148.0,20.0,8.0,164.0,10902.0
240140,2023-08-19,Apparel Retail,Apparel Retail,24S,LVMH Moet Hennessy Louis Vuitton SE,France,LVMH Moet Hennessy Louis Vuitton SE,Euronext Paris,237341.0,20.0,8.0,177.0,11907.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
647886,2018-08-04,Toys & Collectibles,Toys & Collectibles,shopDisney,Disney,United States of America,Disney,New York Stock Exchange,2240209.0,46.0,4.0,19764.0,591363.0
647832,2018-07-28,Toys & Collectibles,Toys & Collectibles,shopDisney,Disney,United States of America,Disney,New York Stock Exchange,2229349.0,49.0,1.0,4729.0,520923.0
647692,2018-07-21,Toys & Collectibles,Toys & Collectibles,shopDisney,Disney,United States of America,Disney,New York Stock Exchange,2223064.0,47.0,2.0,6544.0,542004.0
647700,2018-07-14,Toys & Collectibles,Toys & Collectibles,shopDisney,Disney,United States of America,Disney,New York Stock Exchange,2217013.0,53.0,2.0,7307.0,589909.0
647849,2018-07-07,Toys & Collectibles,Toys & Collectibles,shopDisney,Disney,United States of America,Disney,New York Stock Exchange,2212428.0,52.0,1.0,5381.0,449031.0

In [52]:
print("Print unique compset groups:")
df["business_entity_doing_business_as_name"].unique().size

Print unique compset groups:

706

In [49]:
print("Print unique compset:")
print(df["compset"].unique())

Print unique compset:
20

In [43]:
# Compset contains compset group 
set(df["compset_group"].unique()) - set(df["compset"].unique())

set()

# Model

In [53]:
import torch
import torch.nn.functional as F
import numpy as np
import os
import matplotlib.pyplot as plt
from tqdm.auto import tqdm

ModuleNotFoundError: No module named 'torch'

In [ ]:
# Set seeds and device
seed = 2
torch.manual_seed(seed)
torch.cuda.manual_seed(seed)
np.random.seed(seed)

device = "cuda" if torch.cuda.is_available() else "cpu"
print(f"Using {device}")

## Load dataset

In [ ]:
from utils.dataset import get_datasets

DATASET = "cifar10"
path = "./data/data/skylab_instagram_datathon_dataset.csv"

train_dataset, val_dataset = get_datasets(DATASET, path, test_size=0.1, augment=True)

In [ ]:
from machine_unlearning.experiments import Experiment

model = Experiment(cfg)

In [ ]:
import pytorch_lightning as pl
from pytorch_lightning.callbacks import ModelCheckpoint, Callback, EarlyStopping

checkpoint_callback = ModelCheckpoint(
    monitor='val_loss',
    dirpath='/kaggle/working/',
    filename='{epoch:02d}-{val_loss:.2f}'
)

class PrintCallback(pl.Callback):
    def on_train_epoch_end(self, trainer, pl_module):
        print(f"Training loss: {trainer.callback_metrics['train_loss']}")
        
    def on_validation_end(self, trainer, pl_module):
        print(f"Validation loss: {trainer.callback_metrics['val_loss']}, Accuracy: {trainer.callback_me